:root {
	--timer-background-color: #FFFFFF;
--timer-border: 1px solid blue;
	--timer-height: 50%;
	--timer-width: 50%;
	--button-border: 3px solid blue;
  --button-text-size: 2em;
}

body, div, p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1024px) {
	:root {
		--timer-height: 100%;
		--timer-width: 100%;
		--button-text-size: 4em;
}
}